<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>991986297394-k03ajpp9508sl86tr9s5sjgv2q25h501.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991986297394-k03ajpp9508sl86tr9s5sjgv2q25h501</string>
	<key>API_KEY</key>
	<string>AIzaSyDWb8IoaAwK7BtDb1N392Zws5bubHhru1c</string>
	<key>GCM_SENDER_ID</key>
	<string>991986297394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiloitte</string>
	<key>PROJECT_ID</key>
	<string>auraapp-ec54a</string>
	<key>STORAGE_BUCKET</key>
	<string>auraapp-ec54a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991986297394:ios:0ffafc2a19d3f3d5</string>
	<key>DATABASE_URL</key>
	<string>https://auraapp-ec54a.firebaseio.com</string>
</dict>
</plist>