<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AuraApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0494D8AE1F3C5AA5009CC080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0494D8C21F3C5AA5009CC080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0494D8CD1F3C5AA5009CC080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
